<main class="main">
    <section class="home-slider position-relative pt-50">
        <div class="hero-slider-1 dot-style-1 dot-style-1-position-1">
            <div class="single-hero-slider single-animation-wrap">
                <div class="container">
                    <div class="row align-items-center slider-animated-1">
                        <div class="col-lg-5 col-md-6">
                            <div class="hero-slider-content-2">
                                <h4 class="animated">Trade-in offer</h4>
                                <h2 class="animated fw-900">Supper value deals</h2>
                                <h1 class="animated fw-900 text-brand">On all products</h1>
                                <p class="animated">Save more with coupons & up to 70% off</p>
                                <a class="animated btn btn-brush btn-brush-3" href="shop-product-full.html"> Shop Now
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-6">
                            <div class="single-slider-img single-slider-img-1">
                                <img class="animated slider-1-1" src="assets/imgs/slider/slider-1.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-hero-slider single-animation-wrap">
                <div class="container">
                    <div class="row align-items-center slider-animated-1">
                        <div class="col-lg-5 col-md-6">
                            <div class="hero-slider-content-2">
                                <h4 class="animated">Hot promotions</h4>
                                <h2 class="animated fw-900">Fashion Trending</h2>
                                <h1 class="animated fw-900 text-7">Great Collection</h1>
                                <p class="animated">Save more with coupons & up to 20% off</p>
                                <a class="animated btn btn-brush btn-brush-2" href="shop-product-full.html"> Discover
                                    Now </a>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-6">
                            <div class="single-slider-img single-slider-img-1">
                                <img class="animated slider-1-2" src="assets/imgs/slider/slider-2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-hero-slider single-animation-wrap">
                <div class="container">
                    <div class="row align-items-center slider-animated-1">
                        <div class="col-lg-5 col-md-6">
                            <div class="hero-slider-content-2">
                                <h4 class="animated">Upcoming Offer</h4>
                                <h2 class="animated fw-900">Big Deals From</h2>
                                <h1 class="animated fw-900 text-8">Manufacturer</h1>
                                <p class="animated"> Shoes, Bags, sandals...</p>
                                <a class="animated btn btn-brush btn-brush-1" href="shop-product-right.html"> Shop Now
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-6">
                            <div class="single-slider-img single-slider-img-1">
                                <img class="animated slider-1-3" src="assets/imgs/slider/slider-3.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-arrow hero-slider-1-arrow"></div>

    </section>
    <section class="featured section-padding position-relative">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                    <div class="banner-features wow fadeIn animated hover-up">
                        <img src="assets/imgs/theme/icons/feature-1.png" alt="">
                        <h4 class="bg-1">Free Shipping</h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                    <div class="banner-features wow fadeIn animated hover-up">
                        <img src="assets/imgs/theme/icons/feature-2.png" alt="">
                        <h4 class="bg-3">Online Order</h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                    <div class="banner-features wow fadeIn animated hover-up">
                        <img src="assets/imgs/theme/icons/feature-3.png" alt="">
                        <h4 class="bg-2">Save Money</h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                    <div class="banner-features wow fadeIn animated hover-up">
                        <img src="assets/imgs/theme/icons/feature-4.png" alt="">
                        <h4 class="bg-4">Promotions</h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                    <div class="banner-features wow fadeIn animated hover-up">
                        <img src="assets/imgs/theme/icons/feature-5.png" alt="">
                        <h4 class="bg-5">Happy Sell</h4>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4 mb-md-3 mb-lg-0">
                    <div class="banner-features wow fadeIn animated hover-up">
                        <img src="assets/imgs/theme/icons/feature-6.png" alt="">
                        <h4 class="bg-6">24/7 Support</h4>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="product-tabs section-padding wow fadeIn animated">
        <div class="container">
            <div class="tab-header">
                <ul class="nav nav-tabs" id="myTab" role="tablist">

                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="nav-tab-two" data-bs-toggle="tab" data-bs-target="#tab-two"
                            type="button" role="tab" aria-controls="tab-two" aria-selected="false">Popular</button>
                    </li>

                </ul>

            </div>
            <!--End nav-tabs-->
            <div class="tab-content wow fadeIn animated" id="myTabContent">
                <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
                    <div class="row product-grid-4">

                        <% for (let i=0; i < getalldata.length; i++) { %>
                            <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                                <div class="product-cart-wrap mb-xs-30">
                                    <div class="product-img-action-wrap">

                                        <% for (let j=0; j < getalldata[i].primaryImage.length; j++) { %>


                                            <input type="text" value="<%= getalldata[i]._id %>" name="productID"
                                                id="productID" hidden>

                                            <div class="product-img product-img-zoom">
                                                <a href="/product?id=<%= getalldata[i]._id %>">
                                                    <img class="default-img"
                                                        src="/admin/uploads/<%= getalldata[i].primaryImage[0].name %>"
                                                        alt="ProductImage">
                                                </a>
                                            </div>

                                            <% } %>
                                                <div class="product-action-1">
                                            <% if(user){ %>
                                                    <a aria-label="Add To Wishlist" class="action-btn hover-up"
                                                    href="#" id="addtoWishlist" onclick="addtoWishlist('<%= getalldata[i]._id %>')"
                                                    ><i class="fi-rs-heart"></i></a>
                                             
                                                <%}else{%>
                                                    <a aria-label="Add To Wishlist" class="action-btn hover-up"
                                                        href="/login"><i class="fi-rs-heart"></i></a>
                                                    <% }%>
                                                </div>
                                    </div>
                                    <div class="product-content-wrap">
                                        <div class="product-category">
                                            <a href="">
                                                <%= getalldata[i].categoryName.categoryName %>
                                            </a>
                                        </div>
                                        <h2><a href="/product?id=<%= getalldata[i]._id %>">
                                                <%= getalldata[i].title %>
                                            </a></h2>
                                        <!-- You can add more product details here -->
                                        <div class="product-price">

                                            <span><% if (getalldata[i].productPrice !==getalldata[i].salePrice) { %> 
    
                                            <span>$<%= getalldata[i].productPrice %></span>
                                            <span class="old-price">$<%= getalldata[i].salePrice %></span>
    
                                        </span>  <% }else{ %>
                                            <span>$<%= getalldata[i].productPrice %></span>
                                               <% } %>
    
                                        </div>
                                        <div class="product-action-1 show">
 

                                             <% if(user){ %>
                                                <a aria-label="Add To Cart" class="action-btn hover-up"
                                                    href="/add/<%= getalldata[i]._id %>"><i
                                                        class="fi-rs-shopping-bag-add"></i></a>
                                                <%}else{%>
                                                    <a aria-label="Add To Cart" class="action-btn hover-up"
                                                        href="/login"><i class="fi-rs-shopping-bag-add"></i></a>
                                                    <% }%>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                    </div>
                    <!--End product-grid-4-->

                </div>
            </div>
            <!--End tab-content-->
        </div>
    </section>

    <section class="popular-categories section-padding mt-15 mb-25">
        <div class="container wow fadeIn animated">
            <h3 class="section-title mb-20"><span>Popular</span> Categories</h3>
            <div class="carausel-6-columns-cover position-relative">
                <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-arrows"></div>
                <div class="carausel-6-columns" id="carausel-6-columns">

                    <div class="card-1">
                        <figure class=" img-hover-scale overflow-hidden">
                            <a href="shop-grid-right.html"> <img src="assets/imgs/shop/category-thumb-2.jpg" alt=""></a>
                        </figure>
                        <h5><a href="shop-grid-right.html">Bags</a></h5>
                    </div>
                    <div class="card-1">
                        <figure class=" img-hover-scale overflow-hidden">
                            <a href="shop-grid-right.html"><img src="assets/imgs/shop/category-thumb-3.jpg" alt=""></a>
                        </figure>
                        <h5><a href="shop-grid-right.html">Sandan</a></h5>
                    </div>
                    <div class="card-1">
                        <figure class=" img-hover-scale overflow-hidden">
                            <a href="shop-grid-right.html"><img src="assets/imgs/shop/category-thumb-5.jpg" alt=""></a>
                        </figure>
                        <h5><a href="shop-grid-right.html">Shoes</a></h5>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="banners mb-15">
        <div class="container">
            <div class="row">


                <% allBanner.forEach(function(banner, index) { %>
                    <% if (!banner.is_delete) { %>

                <div class="col-lg-4 col-md-6">
                    <div class="banner-img wow fadeIn animated">
                        <img src="/admin/uploads/<%= banner.bannerImage %>" alt="">
                        <div class="banner-text">
                            <!-- <span>Smart Offer</span>
                            <h4>Save 20% on <br>Woman Bag</h4> -->
                            <!-- <a href="/shop">Shop Now <i class="fi-rs-arrow-right"></i></a> -->
                        </div>
                    </div>
                </div>
                <% } %>
            <% }); %>
            </div>
        </div>
    </section>

    <section class="section-padding">
        <div class="container">
            <h3 class="section-title mb-20 wow fadeIn animated"><span>Featured</span> Brands</h3>
            <div class="carausel-6-columns-cover position-relative wow fadeIn animated">
                <div class="slider-arrow slider-arrow-2 carausel-6-columns-arrow" id="carausel-6-columns-3-arrows">
                </div>
                <div class="carausel-6-columns text-center" id="carausel-6-columns-3">
                    <div class="brand-logo">
                        <img class="img-grey-hover" src="assets/imgs/banner/brand-1.png" alt="">
                    </div>
                    <div class="brand-logo">
                        <img class="img-grey-hover" src="assets/imgs/banner/brand-2.png" alt="">
                    </div>
                    <div class="brand-logo">
                        <img class="img-grey-hover" src="assets/imgs/banner/brand-3.png" alt="">
                    </div>
                    <div class="brand-logo">
                        <img class="img-grey-hover" src="assets/imgs/banner/brand-4.png" alt="">
                    </div>
                    <div class="brand-logo">
                        <img class="img-grey-hover" src="assets/imgs/banner/brand-5.png" alt="">
                    </div>
                    <div class="brand-logo">
                        <img class="img-grey-hover" src="assets/imgs/banner/brand-6.png" alt="">
                    </div>
                    <div class="brand-logo">
                        <img class="img-grey-hover" src="assets/imgs/banner/brand-3.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


<!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    function addtoCart() {
        console.log("Funcion Called")

        const productID = document.getElementById('productID').value;

        Swal.fire({
            title: "add this to cart ?",
            text: "Are you sure to add this to cart?",
            icon: "warning",
            showCancelButton: true,
            cancelButtonText: "No, Cancel",
            confirmButtonText: "Yes, Proceed",
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: "/addCart/" + productID,
                    method: 'get',
                    success: (response => {
                        if (response.message) {
                            Swal.fire({
                                title: "Item Added ",
                                text: "Item Added to Cart Successfully",
                                icon: "success",
                            }).then(() => {
                                console.log("Successfull")
                            })
                        }
                    })

                });
            }
        })
    }

    res.status(200).json({ message: "Item Added Successfully" });


</script> -->


<script>
  function addtoWishlist(productID) {

$.ajax({
  url: '/my-wishlist/' + productID,
  method: 'GET',
}).then(response => {
  if (response.message) {
    Swal.fire({
      title: "Product Added",
      text: "Product Added to Wishlist Successfully",
      icon: "success",
    }).then(() => {
      console.log("Product Get Successfull");
    })
  } else if (response.exists) {
    Swal.fire({
      title: "Product Alredy Exists",
      text: "Product is Alredy Present In Wishlist",
    }).then(() => {
      console.log("Product Alredy Exists in Wishlist");
    });
  } else {
    Swal.fire({
      title: "Product Add Failed",
      text: "Something Went Wrong. Please Try Again",
      icon: "error",
    });
  }
})
}

</script>

